.namecard {
border: 1px solid grey;
margin: 5px;
}
.post {
border: 1px solid grey;
margin: 5px;
}
.friend {
border: 1px solid grey;
margin: 5px;
}
.feed {
border: 1px solid grey;
margin: 5px;
}
.friends {
border: 1px solid grey;
margin: 5px;
}

.bio {
border: 1px solid grey;
margin: 5px;
}

.main {
  display: grid;
  grid-template-columns: 4fr 5fr 3fr;
}

.nav {
  display: grid;
  grid-template-columns: 4fr 3fr 3fr 2fr;
  margin: 10px;
}

.nav-links, th {
  border: 2px solid grey;
  height: 100%;
  border-collapse: collapse;
}

.nav-links th {
  padding: 15px;
}

.nav input {
  border: 2px solid blue;
  border-radius: 50px;
  margin-left: 10px;
  padding-left: 18px;
  font-size: 14px;
}

hr {
  margin: 5px;
}
