.namecard {
border: 1px solid grey;
margin: 5px;
text-align: center;
}
.namecard p {
  margin: 0;
  height: 120px;
  background-color: #1c98e9;
}
.namecard table {
  width: 90%;
  font-size: 13px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.namecard h3 {
  margin-top: 5px;
  margin-left: 29%;
}

.profile-pic {
  height: 80px;
  width: 80px;
  background-color: #1c98e9;
  border: 2px solid white;
  border-radius: 20px;
  position: absolute;
  margin-top: -50px;
  margin-left: 2%;
}
.feedTop {
  background-color: #ccf5ff;
  display: grid;
  grid-template-columns: 70px 1fr;
}

.feedTop input {
  margin: 15px;
  border: 1px solid #1c98e9;
  padding-left: 20px;
}

.feedTop input::placeholder {
  color: #1c98e9;
  font-size: 13px;
}

.profile-pic2 {
  height: 35px;
  width: 35px;
  background-color: #7b0001;
  margin-left: 40%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.post {
border: 1px solid grey;
padding: 5px 15px;
}
.friend {
border: 1px solid grey;
margin: 5px;
}
.feed {
border: 1px solid grey;
margin: 5px;
}
.friends {
border: 1px solid grey;
margin: 5px;
}

.bio {
border: 1px solid grey;
margin: 20px 5px;
padding: 0px 20px 50px;
}

.main {
  display: grid;
  grid-template-columns: 4fr 5fr 3fr;
  margin: 15px;
}

.nav {
  display: grid;
  grid-template-columns: 4fr 3fr 3fr 2fr;
  margin: 10px;
}

.nav-links {
  border-collapse: collapse;
}

.nav-links th {
  border: 2px solid grey;
  height: 100%;
  padding: 15px;
}

.nav input {
  border: 2px solid #1c98e9;
  border-radius: 50px;
  margin-left: 10px;
  padding-left: 18px;
  font-size: 14px;
}

hr {
  margin: 5px;
}
